# Referencia: exportar estas variables al entorno. BFF no carga este archivo.
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=8080
ENTRA_ENABLED=false
ENTRA_TENANT_ID=
ENTRA_API_CLIENT_ID=
ENTRA_FRONTEND_CLIENT_ID=
